<br><br><br><br><br>

<div class="col-md-8 col-md-offset-2">
<div class="jumbotron">
<div class="container">

<h3>Edit medication</h3>

  <form action="/medicines/<%=@medicine.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" type="submit" value="submit">Delete</button>
  </form> 
  <br>

  <form action="/medicines/<%= @medicine.id %>" method="POST">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="<%= @medicine.name %>"/>
        <br>

        <label for="interval">Reminder Interval</label>
        <input id="interval" type="text" name="interval" value="<%= @medicine.interval %>"/>

        <br>

        <label for="condition">Why are you taking it?</label>
        <input id="condition" type="text" name="reason" value="<%= @medicine.reason %>"/>
        <br>
        <input type="hidden" name="user_id" value="<%=session[:user_id]%>">


        <button class="btn btn-primary" type="submit">Update</button>

   </form>